#site_header{
    background-color: blue;
}

#pattern_logo {
    background-image: url(../img/pattern.png);
    height: 200px;
    background-repeat: repeat;
    text-align: center;
}

#logo_dimension {
    width: 20%;
}

#site_main{

}
h1 {
    font-size: 50px;
    margin-bottom: 0%;
}

.text_detail {
    margin-top: 0%;
    color: grey;
    font-size: 20px;
}

#writter{
    color: blue;
}

#photo_description{
    margin-top: 0%;
}
